<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  
</head>
<body>
  
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<div class="container">
<div class="card-columns mt-5">
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text">
      <img src="/static/3.jpg" width="240" height="280"></p>
      <p>Being the richest man in the cemetery doesn’t matter to me. Going to bed at night saying we’ve done something wonderful… that’s what matters to me</p>
    </div>
  </div>
  <div class="card bg-white">
    <div class="card-body text-center">
      <p class="card-text">
        <img src="/static/2.jpg"width="240" height="280"></p>
      <p>Creativity is just connecting things.”</p>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body text-center">
      <p class="card-text">
      <img src="/static/4.jpg" width="240" height="310"></p>
      <p>Have the courage to follow your heart and intuition. They somehow already know what you truly want to become. Everything else is secondary.</p>
    </div>
  </div>
</div>
</div>


</body>
</html>